<ng-container *ngIf="load$ | async"></ng-container>

<div class="page-header">
    <p-button label="Добавить группу" icon="pi pi-plus" (click)="openNew()"></p-button>
</div>

<p-tree
    selectionMode="single"
    draggableScope="self"
    droppableScope="self"
    [value]="groups" 
    [filter]="true"
    [draggableNodes]="true"
    [droppableNodes]="true"
    [validateDrop]="true"
    (onNodeSelect)="editGroup($event.node.data)"
    (onNodeDrop)="onDrop($event)"
>
    <ng-template let-node pTemplate="default">
        <div class="group-wrapper">
            <span class="group-label">{{ node.label }}</span>
            <div class="actions">
                <p-button icon="pi pi-plus" (click)="openNew(node.data.group_id, $event)"></p-button>
                <p-button icon="pi pi-trash" (click)="deleteGroup(node.data, $event)"></p-button>
            </div>
        </div>
    </ng-template>
</p-tree>

<p-dialog [(visible)]="displayDialog" [modal]="true" [closable]="false">
    <ng-template pTemplate="header">
        <h3>{{ isNewGroup ? 'Создать группу' : 'Редактировать группу' }}</h3>
    </ng-template>
    <ng-template pTemplate="content">
        <form [formGroup]="groupForm">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="name">Название</label>
                    <input id="name" type="text" pInputText formControlName="name" />
                </div>
                <div class="p-field">
                    <label for="description">Описание</label>
                    <textarea id="description" pTextarea formControlName="description"></textarea>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Сохранить" (click)="saveGroup()" [disabled]="groupForm.invalid"></p-button>
        <p-button label="Отмена" (click)="displayDialog = false" class="p-button-secondary"></p-button>
    </ng-template>
</p-dialog>
