<ng-container *ngIf="load$ | async"></ng-container>
<ng-container *ngIf="action$ | async"></ng-container>

<div class="storage-container">
    <div class="actions">
        <div class="search-bar">
            <input 
                type="text"
                pInputText
                placeholder="Поиск файлов..."
                [(ngModel)]="searchQuery"
                (ngModelChange)="onSearchChange($event)"
            />
        </div>
    </div>
    <div *ngIf="files.length; else noFiles" class="grid-view">
        <app-storage-item 
            *ngFor="let file of files" 
            [file]="file"
            (contextmenu)="onRightClick($event, file)"
            (preview)="previewFile(file)"
        ></app-storage-item>
    </div>

    <ng-template #noFiles>
        <p>Файлы, к которым у вас есть доступ, отсутствуют.</p>
    </ng-template>
</div>

<!-- context menu -->
<p-dialog
    [(visible)]="showDialog"
    [dismissableMask]="true"
    [modal]="true"
    [style]="{
        position: 'fixed',
        left: contextMenuPosition.x,
        top: contextMenuPosition.y,
        width: '200px'
    }"
    [contentStyle]="{ padding: 0 }"
    [draggable]="false"
    [resizable]="false"
    [baseZIndex]="10000"
>
    <ng-template pTemplate="header">
        <div class="dialog-title" [title]="selectedFile?.name">
            {{ selectedFile?.name }}
        </div>
    </ng-template>
    <ul class="context-menu">
        <li (click)="downloadFile(selectedFile!)">Скачать</li>
        <li (click)="viewInfo(selectedFile!)">Подробная информация</li>
    </ul>
</p-dialog>

<!-- info dialog -->
<p-dialog
    [(visible)]="showInfoDialog"
    [dismissableMask]="true"
    [modal]="true"
    [header]="selectedFile?.name"
    [style]="{ width: '400px' }"
>
    <ng-template pTemplate="content">
        <div *ngIf="selectedFile">
            <p><strong>Создан:</strong> {{ selectedFile.create_date | date: 'dd.MM.yyyy, HH:mm'}}</p>
            <p><strong>Изменён:</strong> {{ selectedFile.edit_date | date: 'dd.MM.yyyy, HH:mm'}}</p>
            <p *ngIf="fileOwner">
                <strong>Владелец:</strong> {{ fileOwner.name }} {{ fileOwner.surname }} ({{ fileOwner.login }})
            </p>
        </div>
    </ng-template>
</p-dialog>

<!-- media preview -->
<div 
    class="preview-overlay" 
    *ngIf="showPreviewDialog" 
    (click)="closePreview()"
>
    <div class="preview-content">
        <ng-container *ngIf="previewUrl && previewType" (click)="$event.stopPropagation()">
            <img *ngIf="previewType === 'image'" [src]="previewUrl" alt="preview" />
            <video *ngIf="previewType === 'video'" [src]="previewUrl" controls></video>
            <audio *ngIf="previewType === 'audio'" [src]="previewUrl" controls></audio>
        </ng-container>
    </div>
</div>
