<ng-container *ngIf="load$ | async"></ng-container>
<ng-container *ngIf="action$ | async"></ng-container>

<div class="storage-container">
    <div class="actions">
        <p-fileUpload
                name="file"
                customUpload="true"
                (uploadHandler)="onFileSelected($event)"
                chooseLabel="Загрузить файл"
                mode="basic"
                [auto]="true"
                [maxFileSize]="10485760"
                [showUploadButton]="false"
                [showCancelButton]="false"
            />
    </div>

    <div *ngIf="files.length; else noFiles" class="grid-view">
        <app-storage-item 
            *ngFor="let file of files" 
            [file]="file"
            (contextmenu)="onRightClick($event, file)"
            (preview)="previewFile(file)"
        ></app-storage-item>
    </div>

    <ng-template #noFiles>
        <p>Файлов пока нет.</p>
    </ng-template>
</div>

<!-- context dialog -->
<p-dialog
    [(visible)]="showDialog"
    [dismissableMask]="true"
    [modal]="true"
    [style]="{
        position: 'fixed',
        left: contextMenuPosition.x,
        top: contextMenuPosition.y,
        width: '200px',
        padding: 0
    }"
    [contentStyle]="{ padding: 0 }"
    [draggable]="false"
    [resizable]="false"
    [baseZIndex]="10000"
>
    <ng-template pTemplate="header">
        <div class="dialog-title" [title]="selectedFile?.name">
            {{ selectedFile?.name }}
        </div>
    </ng-template>
    <ul class="context-menu">
        <li (click)="openRenameDialog(selectedFile!)">Переименовать</li>
        <li (click)="downloadFile(selectedFile!)">Скачать</li>
        <li (click)="viewInfo(selectedFile!)">Подробная информация</li>
        <li (click)="openShareDialog(selectedFile!)">Управление доступом</li>
        <li (click)="openVersionDialog(selectedFile!)">Версии</li>
        <li class="danger" (click)="deleteFile(selectedFile!)">Удалить</li>
    </ul>
</p-dialog>

<!-- rename dialog -->
<p-dialog
    [(visible)]="showRenameDialog"
    [modal]="true"
    [dismissableMask]="true"
    [header]="'Переименовать файл'"
    [style]="{ width: '300px' }"
>
    <ng-template pTemplate="content">
        <div class="rename-dialog">
            <input type="text" pInputText [(ngModel)]="newFileName" />
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Отмена" class="p-button-secondary" (click)="showRenameDialog = false"></p-button>
        <p-button label="Сохранить" class="p-button-secondary" (click)="renameFile()"></p-button>
    </ng-template>
</p-dialog>

<!-- info dialog -->
<p-dialog
    [(visible)]="showInfoDialog"
    [dismissableMask]="true"
    [modal]="true"
    [header]="selectedFile?.name"
    [style]="{ width: '400px' }"
>
    <ng-template pTemplate="content">
        <div *ngIf="selectedFile">
            <p><strong>Создан:</strong> {{ selectedFile.create_date | date: 'dd.MM.yyyy, HH:mm'}}</p>
            <p><strong>Изменён:</strong> {{ selectedFile.edit_date | date: 'dd.MM.yyyy, HH:mm'}}</p>
            <p *ngIf="fileOwner">
                <strong>Владелец:</strong> {{ fileOwner.name }} {{ fileOwner.surname }} ({{ fileOwner.login }})
            </p>
        </div>
    </ng-template>
</p-dialog>

<!-- media preview -->
<div 
    class="preview-overlay" 
    *ngIf="showPreviewDialog" 
    (click)="closePreview()"
>
    <div class="preview-content">
        <ng-container *ngIf="previewUrl && previewType" (click)="$event.stopPropagation()">
            <img *ngIf="previewType === 'image'" [src]="previewUrl" alt="preview" />
            <video *ngIf="previewType === 'video'" [src]="previewUrl" controls></video>
            <audio *ngIf="previewType === 'audio'" [src]="previewUrl" controls></audio>
        </ng-container>
    </div>
</div>

<!-- share dialog -->
<app-file-access-dialog></app-file-access-dialog>

<!-- file version dialog -->
<app-file-version-dialog></app-file-version-dialog>
